* {
  box-sizing: border-box;
}

html {
  font-size: 60px;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 16px;
}

.border-black {
  border: 2px solid black;
  border-radius: 16px;
}

.color-calculator {
  background-color: rgb(160, 160, 160);
}

.color-button {
  background-color: rgb(200, 200, 200);
}

.color-display {
  background-color: rgb(240, 240, 240);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 120px;

}

.btn {
  flex-grow: 1;
}

.row {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}

.row-display {
  flex-direction: column;
  gap: 0;
  padding: 0 16px 0 16px;

}

.display {
  display: flex;
  align-items: center;
  justify-content: end;
}

.display-active {
  height: 120px;
  border-bottom: 2px solid rgb(200, 200, 200);
}

.display-hold {
  font-size: 0.5rem;
  height: 60px;
}

