* {
  box-sizing: border-box;
}

html {
  font-size: 60px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 120px;
  border: 2px solid black;
}

.row {
  display: flex;
  width: 540px;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.display {
  border: 2px solid black;
  height: 120px;
  width: 510px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
}